<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="5">
    <test name="Test1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.solvd.tests.WebTest"/>

        </classes>
    </test>
    <test name="Test2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.solvd.tests.WebTest"/>

        </classes>
    </test>
</suite>